<div class="container">
  <div class="d-flex align-items-center py-3">
    <h1 class="p-0 m-0">
      Usar simulador con controlez deslizantes
      <mat-slide-toggle [checked]="checked" [disabled]="disabled" [formControl]="activarSlider">
      </mat-slide-toggle>
    </h1>
  </div>
  

  <form [formGroup]="simuladorForm">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div *ngIf="!activarSlider.value">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <label for="valor">Valor</label>
                    <input
                      id="valor"
                      class="form-control"
                      currencyMask
                      formControlName="valor"
                      [options]="{ prefix: '$ ', thousands: '.', precision: 0 }"
                    />
                  </div>
                 
                </div>
  
                <div class="col-4">
                  <div class="form-group">
                    <label for="plazo">Plazo en meses</label>
                    <input
                      id="plazo"
                      class="form-control"
                      formControlName="plazo"
                    />
                  </div>
                  
                 
  
  
                </div>
              </div>
  
            

            </div>
           

            <div *ngIf="activarSlider.value">
             
              <div>
                <label for="valor">Valor</label>
                <ng5-slider [options]="optionsValor" formControlName="valor"></ng5-slider>
              </div>
              <div>
                <label for="valor">Plazo en meses</label>
                <ng5-slider [options]="optionsPlazo" formControlName="plazo"></ng5-slider>
              </div>
            </div>
           
          

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="tasa">Tasa (TEA)</label>
                  <input
                    id="tasa"
                    class="form-control"
                    formControlName="tasa"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="tasa">Tasa (TEM)</label>
                  <input
                    id="tasa"
                    class="form-control"
                    [value]="TEM"
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <button
                  type="submit"
                  class="btn btn-primary mb-3"
                  (click)="liquidarCuotaFija()"
                >
                  Simular crédito
                </button>
              </div>
            </div>

            
          </div>

          <div class="col">
            <div *ngIf="valorCuota">
              <div class="row">
                <div class="col">
                  <h4>Resultado de la simulación</h4>

                  <label>Valor de la Cuota</label>
                  <div class="alert alert-success valor-cuota" role="alert">
                    {{
                      valorCuota
                        | currency: "COP":"$":".0-0"
                        | replaceMoney: ",":"."
                    }}
                  </div>
                  <!-- <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> -->
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label>Valor simulado</label>
                  <div>
                    {{
                      valor | currency: "COP":"$":".0-0" | replaceMoney: ",":"."
                    }}
                  </div>
                </div>
                <div class="col">
                  <label>Valor intereses</label>
                  <div>
                    {{
                      valorTotalIntereses
                        | currency: "COP":"$":".0-0"
                        | replaceMoney: ",":"."
                    }}
                  </div>
                </div>
                <div class="col">
                  <label>Total</label>
                  <div>
                    {{
                      valor + valorTotalIntereses
                        | currency: "COP":"$":".0-0"
                        | replaceMoney: ",":"."
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>

        <div class="row">
          <div class="col">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nº Cuota</th>
                  <th scope="col">Valor Capital</th>
                  <th scope="col">Valor Intereses</th>
                  <th scope="col">Saldo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cuotas">
                  <td>{{ item.numeroCuota }}</td>
                  <td>
                    {{
                      item.valorCapital
                        | currency: "COP":"$":".0-0"
                        | replaceMoney: ",":"."
                    }}
                  </td>
                  <td>
                    {{
                      item.valorIntereses
                        | currency: "COP":"$":".0-0"
                        | replaceMoney: ",":"."
                    }}
                  </td>
                  <td>
                    {{
                      item.saldo
                        | currency: "COP":"$":".0-0"
                        | replaceMoney: ",":"."
                    }}
                  </td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">
                    {{
                      valorTotalIntereses
                        | currency: "COP":"$":".0-0"
                        | replaceMoney: ",":"."
                    }}
                  </th>
                  <th scope="col"></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
