.valor-cuota{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 1.25rem;
}


.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }